// Typography

// Check default variable in node_modules/bootstrap/scss/_variables.scss
// or https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// You can customize in {custom_theme}/src/scss/base/_varibales.scss
/**
* Ogilvy fonts (Sans)
*/
@font-face {
	font-family: 'Ogilvy Sans';
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Light.eot");
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Light.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Light.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Light.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Light.ttf") format("truetype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Light.svg#OgilvySans-Light") format("svg");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ogilvy Sans';
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Regular.eot");
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Regular.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Regular.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Regular.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Regular.ttf") format("truetype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Regular.svg#OgilvySans-Regular") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ogilvy Sans';
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Bold.eot");
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Bold.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Bold.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Bold.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Bold.ttf") format("truetype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-Bold.svg#OgilvySans-Bold") format("svg");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ogilvy Sans';
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-LightItalic.eot");
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-LightItalic.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-LightItalic.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-LightItalic.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-LightItalic.ttf") format("truetype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-LightItalic.svg#OgilvySans-LightItalic") format("svg");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Ogilvy Sans';
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-RegularItalic.eot");
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-RegularItalic.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-RegularItalic.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-RegularItalic.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-RegularItalic.ttf") format("truetype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-RegularItalic.svg#OgilvySans-RegularItalic") format("svg");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Ogilvy Sans';
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-BoldItalic.eot");
	src: url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-BoldItalic.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-BoldItalic.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-BoldItalic.ttf") format("truetype"), url("https://s3-ap-southeast-2.amazonaws.com/ogilvy.com.au-assets/fonts/OgilvySans-BoldItalic.svg#OgilvySans-BoldItalic") format("svg");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

html {
	font-size: 62.5%;
	scroll-padding-top: 100px;

	&.is-login {
		scroll-padding-top: 150px !important;
	}
}

body {
	font-family: $font-family-sans-serif;
	font-weight: $font-weight-normal;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $darkgrey;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: $black;
	font-family: $font-family-sans-serif;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
	font-size: $h1-font-size;
	line-height: 4.5rem;
}

h2,
.h2 {
	font-size: $h2-font-size;
	line-height: 3.8rem;
}

h3,
.h3 {
	font-size: $h3-font-size;
	line-height: 2.7rem;
}

h4,
.h4 {
	font-size: $h4-font-size;
}

h5,
.h5 {
	font-size: $h5-font-size;
}

h6,
.h6 {
	font-size: $h6-font-size;
}

p {
	line-height: 2.1rem;
}